:root {
  --primary-color: #539ee9;
  --secondary-color: #f8f9fa;
  --hover-color: #4c45b3;
  --sidebar-color: #f8f9fa;
}

.logo {
  color: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

.file-drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease-in-out;
}

.file-icon {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}

.click-text {
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
}

/* Hover Effects */
.file-drop-area:hover {
  border-color: var(--hover-color);
}

button.is-info {
  background-color: var(--primary-color);
}

button:hover {
  background-color: var(--hover-color);
}

.sidebar {
  background-color: var(--sidebar-color);
}

.canvas {
  margin-top: 20px;
  width: 80%;
  height: full;
  border: 1px solid black;
  padding: 15px;
}
