:root {
  --primary-color: #539ee9;
  --secondary-color: #f8f9fa;
  --hover-color: #4c45b3;
  --sidebar-color: #f8f9fa;
}

.file-drop-area {
  border: 2px dashed #ccc;
  text-align: center;
  cursor: pointer;
  align-items: center;
  width: 500px;
  transition: border-color 0.3s ease-in-out;
}

.file-icon {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}

/* Hover Effects */
.file-drop-area:hover {
  border-color: var(--hover-color);
}


.card-border {
  border: 2px dashed #ccc;
}

.canvas {
  margin-top: 20px;
  width: 80%;
  height: full;
  border: 1px solid black;
  padding: 15px;
}
