<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Batch PDF</h1>
      <p class="lead text-muted">Insert data into template && transform .docx to .pdf</p>
      <p>
        <form method="post" enctype="multipart/form-data">
            <button name="template" type="submit" class="btn btn-primary btn-block">Transform template</button>
            <button name="transform" type="submit" class="btn btn-primary btn-block">.DOCX to .PDF</button>
        </form>
      </p>
    </div>
  </section>
</main>