{% extends "header.html" %}
{% block body %}
<div class="container">
  <div class="columns is-mobile is-centered">
    <form class="doc-form" method="POST" action="/dashboard" enctype="multipart/form-data">
      <div class="column">
        <label for="file" class="file-drop-area">
          <img src="{{ url_for('static', filename='assets/doc-icon.png') }}" alt="DOC Icon" class="file-icon" />
          <p>
            Drag and drop your Word file here or <span class="click-text">click to select one</span>
          </p>
          <input type="file" id="file" name="file" accept=".doc, .docx" required hidden />
        </label>
      </div>

      <div class="column">
        <div class="control">
          <label for="batchQuantity">
            Select how many files do you want to batch
          </label>
          <input id="batchQuantity" name="batchQuantity" class="input" type="number" placeholder="Quantity" required />
        </div>
      </div>

      <div class="column">
        <button id="uploadDocument" class="button is-info" type="submit" onclick="showLoading(this)">
          Upload
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  function showLoading(element) {
    element.classList.add('is-loading');
  }
</script>
{% endblock %}