:root {
  --primary-color: #539ee9;
  --secondary-color: #f8f9fa;
  --hover-color: #4c45b3;
  --sidebar-color: #f8f9fa;
}

html,
body {
  height: 100%; /* Full height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.fix-height {
  height: inherit;
}

.file-drop-area {
  border: 2px dashed #ccc;
  text-align: center;
  cursor: pointer;
  align-items: center;
  width: 500px;
  transition: border-color 0.3s ease-in-out;
}

.file-icon {
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}

/* Hover Effects */
.file-drop-area:hover {
  border-color: var(--hover-color);
}

.card-border {
  border: 2px dashed #ccc;
}

.min-height {
  min-height: min-content;
}
.form-instance {
  height: 35vh;
  overflow-y: auto;
}
